*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "SuperMario";
    src: url('/fonts/SuperMario256.ttf');
}

body{
    height: 100vh;
    background-color: red;
    font-family: "SuperMario";
}

.placar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    color: red;
}

.resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: red;
}

.font{
    color: red;
}

h1{
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    color: white;
    
}

.jogo{
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
}

.cartao{
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.cartao:active{
    transform: scale(0.97);
    transition: transform .2s;
}

.cartao.virado{
    transform: rotateY(180deg);
}

.frente-cartao, .verso-cartao{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: white;
    backface-visibility: hidden;
}

.frente-cartao{
    transform: rotateY(180deg);
}

#recordes{
    margin-top: 30px;
    color: white;
    text-align: center;
    display: none;
}

td{
    border: 1px solid white;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
}

#resultados{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#reiniciar{
    border-radius: 5px;
    background-color: #060AB2;
    color: white;
    margin-top: 10px;
    height: 30px;
    font-family: "SuperMario";
    padding: 10px;
}

#reiniciar:hover{
    color: #060AB2;
    background-color: orange;
}